<div class="layout">

  <main class="content">

    <div class="logo-container">
      <img
        src="../../../assets/WhatsApp_Image_2024-03-08_at_16.15.20-removebg-preview.png"
        alt="Logo Barbini"
        class="logo"
      />
    </div>

    <h2>Cadastrar Novo Usuário</h2>

    <form (ngSubmit)="cadastrar()">
      <label for="email">E-mail:</label>
      <input
        id="email"
        type="text"
        [(ngModel)]="usuario.email"
        name="email"
        placeholder="E-mail"
        required
      />

      <label for="senha">Senha:</label>
      <input
        id="senha"
        type="password"
        [(ngModel)]="usuario.senha"
        name="senha"
        placeholder="Senha"
        required
      />
      <label for="telefone">Telefone:</label>
      <input
        id="telefone"
        type="text"
        [(ngModel)]="usuario.telefone"
        name="telefone"
        placeholder="Telefone"
        required
      />
      <button type="submit">Cadastrar</button>
    </form>
    <p *ngIf="cadastroError" class="error-message">{{ cadastroError }}</p>
  </main>
</div>
