<div class="layout">
  <aside class="sidebar">
    <img src="../../../assets/WhatsApp_Image_2024-03-08_at_16.15.20-removebg-preview.png" alt="Logo" width="200px" />
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/financas">Finanças</a></li>
        <li><a routerLink="/estoque">Estoque</a></li>
        <li><a routerLink="/clientes">Clientes</a></li>
        <li><a routerLink="/produtos">Produtos</a></li>
        <li><a routerLink="/login">Sair</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <h1>Gerenciar Finanças</h1>

    <div class="financas-container">
      <!-- Formulário de Registro de Venda -->
      <div class="registro-venda">
        <h2>Registrar Venda</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="vendaForm">
          <div>
            <label for="cliente">Cliente:</label>
            <input
              id="cliente"
              formControlName="clienteId"
              type="number"
              placeholder="ID do Cliente"
              required
            />
          </div>

          <div>
            <label for="produto">Produto:</label>
            <input
              id="produto"
              formControlName="produtoId"
              type="number"
              placeholder="ID do Produto"
              required
            />
          </div>

          <div>
            <label for="quantidade">Quantidade:</label>
            <input
              id="quantidade"
              formControlName="quantidade"
              type="number"
              placeholder="Quantidade"
              required
            />
          </div>

          <div>
            <label for="valor">Valor Unitário:</label>
            <input
              id="valor"
              formControlName="valorUnitario"
              type="number"
              placeholder="Valor Unitário"
              required
            />
          </div>

          <button type="submit" [disabled]="vendaForm.invalid">Registrar Venda</button>
        </form>
        <p *ngIf="vendaError" class="error-message">{{ vendaError }}</p>
        <p *ngIf="sucessoMensagem" class="success-message">{{ sucessoMensagem }}</p>
      </div>

      <!-- Histórico de Vendas -->
      <div class="historico-vendas">
        <h3>Histórico de Vendas</h3>
        <div *ngIf="historicoVendas.length === 0">
          <p>Não há vendas registradas.</p>
        </div>
        <div *ngFor="let venda of historicoVendas">
          <p>Cliente: {{ venda.cliente?.nome || venda.cliente }}</p>
          <p>Produto: {{ venda.produto?.nomeProduto || venda.produto }}</p>
          <p>Quantidade: {{ venda.quantidade }}</p>
          <p>Valor Total: R$ {{ venda.valor }}</p>
        </div>
      </div>

    </div>
  </main>
</div>
