

.content {
  flex: 1;
  padding: 20px;
}

/* Container de Finanças */
.financas-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.registro-venda, .historico-vendas {
  width: 48%; /* Cada seção ocupa metade do espaço */
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
  font-size: 2em;
  color: #D32F2F;
  text-align: center;
  margin-bottom: 20px;
}

h2, h3 {
  font-size: 1.8em;
  color: #D32F2F;
  margin-bottom: 20px;
  text-align: center;
}

/* Labels e Inputs */
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Botão */
button {
  background-color: #D32F2F;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C62828;
}

/* Histórico de Vendas */
.historico-vendas div {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 12px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.historico-vendas div p {
  margin: 5px 0;
}

/* Mensagens de erro e sucesso */
.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}
